<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rememberix">

    <application
        android:allowBackup="true"
        android:label="Rememberix"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:supportsRtl="true">

        <!-- Launcher Activity: MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- Dashboard Activity -->
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />

        <!-- ChatBot Activity -->
        <activity
            android:name=".ChatBotActivity"
            android:exported="true" />

        <activity android:name=".ColorMatchActivity" />


    </application>

</manifest>
